@model IEnumerable<PatientManageSystem.Models.PatientManage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
    <div class="container mt-0">
        <div class="row breadcrumb-bar">
            <div class="col-md-6">
                <h3 class="block-title">Index Patient</h3>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Patient</li>
                    <li class="breadcrumb-item active">Index Patient</li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cretedby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modifiedby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creteddate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modifieddate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityMaster.CityName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cretedby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modifiedby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creteddate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modifieddate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityMaster.CityName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Pid }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Pid }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Pid })
                    </td>
                </tr>
            }

        </table></div>
