@model IEnumerable<PatientManageSystem.Models.StaffManage>

@{
   Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cretedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modifiedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creteddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modifieddate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cretedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifiedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creteddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifieddate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StaffId }) |
                @Html.ActionLink("Details", "Details", new { id=item.StaffId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StaffId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
