
@{
    Layout = null;
}

<!DOCTYPE html>


<html>


<!-- Mirrored from www.konnectplugins.com/proclinic/Horizontal/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Sep 2019 06:09:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Admin</title>
    <!-- Fav  Icon Link -->
    <link rel="shortcut icon" type="~/Content/Admin/image/png" href="images/fav.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/bootstrap.min.css">
    <!-- themify icons CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/themify-icons.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/styles.css">
    <link rel="stylesheet" href="~/Content/Admin/css/green.css" id="style_theme">
    <link rel="stylesheet" href="~/Content/Admin/css/responsive.css">

    <script src="js/modernizr.min.js"></script>
</head>

<body class="auth-bg">
    <!-- Pre Loader -->
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--/Pre Loader -->
    <!-- Color Changer -->
    <!-- /Color Changer -->
    <div class="wrapper">
        <!-- Page Content  -->
        <div id="content">
            <div class="container">
                <div class="row">
                    @Html.Partial("_ShowMessage")
                    <div class="col-sm-6 auth-box">
                        <div class="proclinic-box-shadow">
                            <h3 class="widget-title">Login</h3>
                            <form class="widget-form" method="post" action="@Url.Action("Login","AdminLogin")">
                                <!-- form-group -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input name="AdminName" id="AdminName" placeholder="Username" class="form-control" required="" data-validation="length alphanumeric" data-validation-length="3-12"
                                              value="@ViewBag.AdminName" data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)" data-validation-has-keyup-event="true">
                                    </div>
                                </div>
                                <!-- /.form-group -->
                                <!-- form-group -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="Password" id="AdminPassword" placeholder="Password" name="AdminPassword" class="form-control" data-validation="strength" data-validation-strength="2"
                                               data-validation-has-keyup-event="true"value="@ViewBag.AdminPassword">
                                    </div>
                                </div>
                                <!-- /.form-group -->
                                <!-- Check Box -->
                                <div class="form-check row">
                                    <div class="col-sm-12 text-left">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="isRemember" value="True" name="isRemember">
                                            <label class="custom-control-label" for="isRemember">Remember Me</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Check Box -->
                                <!-- Login Button -->
                                <div class="button-btn-block">
                                    <button type="submit" class="btn btn-primary pull-right">Login</button>
                                </div>
                                <!-- /Login Button -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content  -->
    </div>
    <!-- Jquery Library-->
    <script src="~/Content/Admin/js/jquery-3.2.1.min.js"></script>
    <!-- Popper Library-->
    <script src="~/Content/Admin/js/popper.min.js"></script>
    <!-- Bootstrap Library-->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <!-- Custom Script-->
    <script src="~/Content/Admin/js/custom.js"></script>
</body>


<!-- Mirrored from www.konnectplugins.com/proclinic/Horizontal/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Sep 2019 06:09:01 GMT -->
</html>
@*<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">

            <form action="@Url.Action("Login","AdminLogin")" method="post">
                <div class="form-group">
                    <label for="email">Name:</label>
                    <input type="text" class="form-control" id="AdminName" placeholder="Enter Name" name="AdminName">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="AdminPassword" placeholder="Enter password" name="AdminPassword">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="RememberMe" id="RememberMe" value="true"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </body>
    </html>*@
